<html>
<head>
  <meta charset="utf-8">
  
  <title>Myntra</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link rel="icon" type="image/png" href="logo.png"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  
 
</head>
<body class="hold-transition sidebar-mini">
	
	<div class="wrapper">
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Brand Logo -->
			<a href="#" class="brand-link">
			  <span style="text-align: center;">Menu</span>
			</a>
			<!-- Sidebar -->
			<div class="sidebar">
                <!-- Sidebar Menu -->
  <nav class="mt-2">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	  <li class="nav-item">
		<a href="/create" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p>Add new Product</p>
		</a>
	  </li>
	  <li class="nav-item">
		<a href="/" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p class="text">Sales Details</p>
		</a>
	  </li>
	  <li class="nav-item">
		<a href="/updatestock" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p class="text">Update Stock</p>
		</a>
	  </li>
      <li class="nav-item">
		<a href="/deleteproduct" class="nav-link">
		  <i class="nav-icon far fa-circle text-info"></i>
		  <p class="text">Delete Product</p>
		</a>
	  </li>
	  
	</ul>
</nav>
<!-- /.sidebar-menu -->
			
			</div>
			<!-- /.sidebar -->
		</aside>
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			
			<section class="content-header">
				<h1 style="text-align: center;">Myntra Inventory Management System</h1>
			</section>
			<section class="content">
                <div class="card">
                    <div class="card-header">
                
                      <div class="card-tools">
                        <p>Buy branded clothing, dresses, kurtis, tops, footwear, bags, jeans, shirts & home products from Myntra for men, women & kids
                            If you would like to experience the best of online shopping for men, women and kids in India, you are at the right place. Myntra is the ultimate destination for fashion and lifestyle, being host to a wide array of merchandise including clothing, footwear, accessories, jewellery, personal care products and more. It is time to redefine your style statement with our treasure-trove of trendy items. 
                            <div class="card-body table-responsive p-0" style="height: 400px">
                            <table class="table table-striped table-head-fixed text-nowrap">
                                <tr>
                                   <th style="width: 10%" >Product ID</th>
                                    <th style="width: 10%" >Brand</th>
                                    <th style="width: 10%" >Type</th>
                                    <th style="width: 10%" >Size</th>
                                    <th style="width: 10%" >Stock</th>
                                    <th style="width: 10%" >Price</th>
                                </tr>
                            <tbody>
                                <% for(var i=0; i<data.length; i++) { %>
                                    <tr>
                                        <td><%= data[i].pid %></td>
                                        <td><%= data[i].category %></td>
                                        <td><%= data[i].type %></td>
                                        <td><%= data[i].size %></td>
                                        <td><%= data[i].stock %></td>
                                        <td><%= data[i].sp %></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                                </table>
                      </div>
                    </div>
                </div>
				
			</section>
		</div>
		
	</div>
</body>
</html>